<nav class="navbar">

    <!-- Logo -->
    <a href="/" class="logo">
        <img src="{{ url_for('static', filename='images/logo.png') }}"
             alt="CarValue26 Logo">
    </a>

    <!-- Navigation Links -->

<ul class="nav-links">

    <li>
        <a href="{{ url_for('home') }}"
           class="{% if request.endpoint == 'home' %}active{% endif %}">
            Home
        </a>
    </li>

    <li>
        <a href="{{ url_for('features') }}"
           class="{% if request.endpoint == 'features' %}active{% endif %}">
            Features
        </a>
    </li>

    <li>
        <a href="{{ url_for('market') }}"
           class="{% if request.endpoint == 'market' %}active{% endif %}">
            Market
        </a>
    </li>

    <li>
        <a href="{{ url_for('compare') }}"
           class="{% if request.endpoint == 'compare' or request.endpoint == 'compare_result' %}active{% endif %}">
            Compare
        </a>
    </li>

    <li>
        <a href="{{ url_for('ai_assistant') }}"
           class="{% if request.endpoint == 'ai_assistant' %}active{% endif %}">
            AI Assistant
        </a>
    </li>

    <li>
        <a href="{{ url_for('contact') }}"
           class="{% if request.endpoint == 'contact' %}active{% endif %}">
            Contact
        </a>
    </li>

</ul>

    <!-- Right Side -->
    <div class="nav-right">

        <div class="search-box">
            <i class="fa-solid fa-magnifying-glass"></i>

            <input
                type="text"
                placeholder="Search any car..."
            >
        </div>

        {% if session.get('user') %}

    <span class="welcome-user">
        Welcome, {{ session['user']['name'] }}
    </span>

    <a href="{{ url_for('logout') }}" class="logout-btn">
    Logout
</a>

{% else %}

    <a href="{{ url_for('login') }}" class="login-btn">
        Login
    </a>

    <a href="{{ url_for('register') }}" class="register-btn">
        Register
    </a>

{% endif %}

    </div>

</nav>